@mixin before_circle {
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -25%;
    left: 0;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
  }
}
