@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "libs/bootstrap-reboot.min.css";
@import "base/_variables.scss";
@import "base/_mixins.scss";
* {
  font-family: "Poppins", sans-serif;
  color: #e4e4e4;
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  padding: 0 20px;
  max-width: 1180px;
  margin: 0 auto;
}
@import "blocks/_promo.scss";
@import "blocks/_sidepanel.scss";
@import "blocks/menu";
@import "blocks/technology";
@import "blocks/experiences";
@import "blocks/portfolio";
@import "blocks/slider";
@import "blocks/about";
@import "blocks/contact";

@import "blocks/buttons.scss";
@import "blocks/title";
@import "base/animate";

@import "media.scss";
