.sidepanel {
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  column-gap: 15px;
  left: -100px;
  top: 50%;
  transform: rotate(-90deg);
  img {
    display: block;
    width: 20px;
    height: 20px;
  }
  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #e4e4e4;
  }
  &__line {
    width: 70px;
    height: 0px;
    border: 2px solid #e4e4e4;
  }
}
